.h1 {
	background: orange;
	font-size: 1.5rem;
	padding-top: 3px;
	padding-bottom: 3px;
}
.negative {
	background: yellow;
	padding-right: 2%
	width: 30%;


}
.stop {
	background: red;
	padding-right: 2%;
	width: 30%;
}
.positive {
	background: skyblue;
	width: 30%;
}