{% extends "layout.html" %}
{% block body %}
	<script>
	setTimeout(updateEnc, 1000);

	function updateEnc() {
	  var xhttp = new XMLHttpRequest();
	  xhttp.onreadystatechange = function() {
	    if (this.readyState == 4) { 
	      	if (this.status == 200)  {
	      		var response = JSON.parse(this.responseText);
		     		if (response.result == "success") {
	      			document.getElementById("m1enc").innerHTML = response.m1enc;
	      			document.getElementById("m2enc").innerHTML = response.m2enc;
	      			setTimeout(updateEnc, 1000);
	      		}
	      		else
	      		{
	      			document.getElementById("encStatus").innerHTML = response.status;
	      		}
	      	}		 	
			}
			else if (this.status != 0 && this.status != 200)
			{
				document.getElementById("encStatus").innerHTML = "HTTP Status = " + this.status
			}
	  };
	  xhttp.onerror = function() {
      document.getElementById("encStatus").innerHTML = "HTTP Error Encountered"
	  }
	  xhttp.open("GET", "encoder_json?address={{rcAddr}}", true);
	  xhttp.send();
	}
	</script>
	<header>
		<div class="row header">
			<div class="col-3">
				<a class="home" href="{{url_for('root_menu', address=rcAddr)}}">home</a>
			</div>
			<div class="col-6">
				<h1 class="h1">Basic Motor Test</h1>
			</div>
			<div class="col-3">
				<a class="e-stop" href="{{url_for('stop', address=rcAddr)}}">STOP MOTORS</a>
			</div>
		</div>
	</header>
	<p>Encoder Read Status: <span id="encStatus">OK</span></p>
	<hr/>
	<div class="row">
		<div class="col-6 m1">
			<h3>Motor 1</h3>
			<p>Encoder 1: <span id="m1enc">{{m1enc}}</span></p>
			<div class="row">
					<form action="{{ url_for('basic_motor', address=rcAddr)}}" method="post">
						<input type="hidden" name="motor" value="1"/>
						<input type="hidden" name="direction" value="-"/>
						<input type="submit" value="Negative" class="negative"/>
					</form>
					<form action="{{ url_for('basic_motor', address=rcAddr)}}" method="post">
						<input type="hidden" name="motor" value="1"/>
						<input type="hidden" name="direction" value="0"/>
						<input type="submit" value="Stop" class="stop"/>
					</form>
					<form action="{{ url_for('basic_motor', address=rcAddr)}}" method="post">
						<input type="hidden" name="motor" value="1"/>
						<input type="hidden" name="direction" value="+"/>
						<input type="submit" value="Positive" class="positive"/>
					</form>
			</div><!--row-->
		</div><!-- col-sm-6 -->
	<hr/>
		<div class="col-6 m2">
			<h3>Motor 2</h3>
			<p>Encoder 2: <span id="m2enc">{{m2enc}}</span></p>
			<div class="row">
					<form action="{{ url_for('basic_motor', address=rcAddr)}}" method="post">
						<input type="hidden" name="motor" value="2"/>
						<input type="hidden" name="direction" value="-"/>
						<input type="submit" value="Negative" class="negative"/>
					</form>
				<form action="{{ url_for('basic_motor', address=rcAddr)}}" method="post">
					<input type="hidden" name="motor" value="2"/>
					<input type="hidden" name="direction" value="0"/>
					<input type="submit" value="Stop" class="stop"/>
				</form>
					<form action="{{ url_for('basic_motor', address=rcAddr)}}" method="post">
						<input type="hidden" name="motor" value="2"/>
						<input type="hidden" name="direction" value="+"/>
						<input type="submit" value="Positive" class="positive"/>
					</form>
			</div>
			
		</div>
		
{% endblock %}
