{% extends "layout.html" %}
{% block body %}
	<h1>General Configurations Menu</h1>
	<a href="{{url_for('root_menu', address=rcAddr)}}">Back</a>
	
	<p>Roboclaw version {{rcVersion}}</p>
	<form action="{{ url_for('config_menu', address=rcAddr)}}" method="post">
		<table>
			<tr>
				<td colspan="3">Configuration Flags</td>
				<td><input type="text" size="20" name="rcConfig" value="{{rcConfig}}"/></td>
			</tr>
			<tr>
				<td colspan="2">Main Battery</td>
				<td>Min</td>
				<td><input type="number" name="VmainMin" value="{{VmainMin}}"/></td>
				<td>Max</td>
				<td><input type="number" name="VmainMax" value="{{VmainMax}}"/></td>
			</tr>
			<tr>
				<td colspan="3">PWM Mode</td>
				<td colspan="3"><input type=number name="pwmMode" value="{{pwmMode}}"/></td>
			</tr>
			<tr>
				<td>S3</td>
				<td><input type="number" name="s3" value="{{s3}}"/></td>
				<td>S4</td>
				<td><input type="number" name="s4" value="{{s4}}"/></td>
				<td>S5</td>
				<td><input type="number" name="s5" value="{{s5}}"/></td>
			</tr>
			<tr>
				<td colspan="2">Max Current</td>
				<td>M1</td>
				<td><input type="number" name="AmaxM1" value="{{AmaxM1}}"/></td>
				<td>M2</td>
				<td><input type="number" name="AmaxM2" value="{{AmaxM2}}"/></td>
			</tr>
			<tr>
				<td colspan="2">Encoder Mode</td>
				<td>M1</td>
				<td><input type="number" name="encModeM1" value="{{encModeM1}}"/></td>
				<td>M2</td>
				<td><input type="number" name="encModeM2" value="{{encModeM2}}"/></td>
			</tr>

			<tr>
				<td colspan="6"><input type="submit" value="Update"></td>
			</tr>
		</table>
	</form>
{% endblock %}