{% extends "layout.html" %}
{% block body %}
	<h1>Connect menu</h1>
	<p>
		Select one of the common values below, or type in name of a port, then click "Connect": 
		<ul>
			<!-- list all the potential real devices -->
			{% for device in potentialDevices %}
			<li><button onclick="document.getElementById('serialPortInput').value='/dev/{{device}}'">{{device}}</button></li>
			{% endfor %}
			<!-- ... plus the test stub -->
			<li><button onclick="document.getElementById('serialPortInput').value='Test_Stub'">No RoboClaw</button></li>
		</ul>
	</p>
	<br/>
	<form action="{{ url_for('connect_menu')}}" method="post">
		<table>
			<tr>
				<td>Serial Port:</td>
				<td><input type="text" size="30" name="port" id="serialPortInput"></td>
			</tr>
			<tr>
				<td>Baud rate</td>
				<td><input type="number" size="10" name="baudrate" value="115200"></td>
			</tr>
			<tr>
				<td>Inter-Byte Timeout</td>
				<td><input type="text" size="10" name="interCharTimeout" value="0.01"></td>
			</tr>
			<tr>
				<td>Retries</td>
				<td><input type="number" size="3" name="retries" value="3"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Connect"></td>
			</tr>
		</table>
	</form>
{% endblock %}