{% extends "layout.html" %}
{% block body %}
	<h1>Connect menu</h1>
	<p>
		Select one of the common values below, or type in name of a port, then click "Connect": 
		<ul>
		<li><button onclick="document.getElementById('serialPortInput').value='/dev/ttyS0'">Raspberry Pi mini UART</button></li>
		<li><button onclick="document.getElementById('serialPortInput').value='/dev/ttyAMA0'">Raspberry Pi PL011</button></li>
		<li><button onclick="document.getElementById('serialPortInput').value='/dev/ttyACM0'">Ubuntu USB Serial</button></li>
		<li><button onclick="document.getElementById('serialPortInput').value='/dev/tty.usbmodem'">MacOS USB Serial</button></li>
		<li><button onclick="document.getElementById('serialPortInput').value='/dev/ttyS3'">WSL passthrough USB Serial COM3</button></li>
		<li><button onclick="document.getElementById('serialPortInput').value='COM3'">Windows USB Serial COM3</button></li>
		</ul>
	</p>
	<br/>
	<form action="{{ url_for('connect_menu')}}" method=post>
		<table>
			<tr>
				<td>Serial Port:</td>
				<td><input type="text" size="30" name="port" id="serialPortInput"></td>
			</tr>
			<tr>
				<td>Baud rate</td>
				<td><input type="number" size="10" name="baudrate" value="115200"></td>
			</tr>
			<tr>
				<td>Inter-Byte Timeout</td>
				<td><input type="number" size="10" name="interCharTimeout" value="0.01"></td>
			</tr>
			<tr>
				<td>Retries</td>
				<td><input type="number" size="3" name="retries" value="1"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Connect"></td>
			</tr>
		</table>
	</form>
{% endblock %}