{% extends "layout.html" %}
{% block body %}
	{% if address is not none %}
		<p>{{response}}</p>
		{% if display %}
			<a href="{{url_for('stop', address=address)}}">STOP MOTORS</a>
			<a href="{{url_for('config_menu', address=address)}}">Configuration</a>
			<a href="{{url_for('velocity_menu', address=address)}}">Velocity</a>
			<a href="{{url_for('position_menu', address=address)}}">Position</a>
		{% endif %}
		<hr/>
	{% endif %}
	Talk to Roboclaw at address:
	{% for newAddr in range(128,136) %}
		{% if newAddr == address %}
			<b>{{newAddr}}</b>
		{% else %}
			<a href="{{url_for('root_menu', address=newAddr)}}">
				{{newAddr}}
			</a>
		{% endif %}
	{% endfor %}
{% endblock %}