{% extends "layout.html" %}
{% block body %}
	{% if address is not none %}
		{% if display %}
			<a href="{{url_for('stop', address=address)}}">STOP MOTORS</a>
			<a href="{{url_for('connect_menu')}}">Connection</a>
			<a href="{{url_for('config_menu', address=address)}}">Configuration</a>
			<a href="{{url_for('encoder', address=address)}}">Encoder</a>
			<a href="{{url_for('velocity_menu', address=address)}}">Velocity</a>
			<a href="{{url_for('position_menu', address=address)}}">Position</a>
			<a href="{{url_for('rc_error', address=address)}}">ErrorCode</a>
			<a href="{{url_for('writenvm', address=address)}}">Write NVM</a>
			<hr/>
			<a href="{{url_for('basic_motor', address=address)}}"><h1>Basic Motor Test</h1></a>
			<hr/>
			<a href="{{url_for('drive_control', address=address)}}"><h1>Drive 2-Wheel Robot</h1></a>
			<hr/>
			<a href="{{url_for('call_shutdown')}}">Shutdown</a>
		{% endif %}
		<hr/>
	{% endif %}
	Talk to Roboclaw at address:
	{% for newAddr in range(128,136) %}
		{% if newAddr == address %}
			<b>{{newAddr}}</b>
		{% else %}
			<a href="{{url_for('root_menu', address=newAddr)}}">
				{{newAddr}}
			</a>
		{% endif %}
	{% endfor %}
{% endblock %}